
$primary-color: #187dc0
$background-color: #ffffff
$selection-color: rgba(255, 255, 255, 0.3)
$secondary-color: #054461
$background-image: "../images/interstellar.jpg"
$background-blur: 12px
$background-image-blend: 0.5