
$primary-color: #187dc0
$background-color: #ffffff
$selection-color: rgba(255, 255, 255, 0.3)
$secondary-color: #054461
$background-image: "https://i.pinimg.com/736x/d6/53/63/d6536389b90f74dd5ebd1af8e34d0037.jpg"