// fonts
@font-face
  font-family: 'FiraCode'
  font-style: normal
  font-weight: 400
  src: url('../fonts/FiraCode-Regular.ttf')
  font-display: swap

@font-face
  font-family: 'FiraCode'
  font-style: normal
  font-weight: 500
  src: url('../fonts/FiraCode-Medium.ttf')
  font-display: swap

@font-face
  font-family: 'FiraMono'
  font-style: normal
  font-weight: 400
  src: url('../fonts/FiraMono-Regular.ttf')
  font-display: swap

@font-face
  font-family: 'FiraMono'
  font-style: normal
  font-weight: 500
  src: url('../fonts/FiraMono-Medium.ttf')
  font-display: swap
  
@font-face
  font-family: 'FiraMono'
  font-style: normal
  font-weight: 600
  src: url('../fonts/FiraMono-Bold.ttf')
  font-display: swap

html, body, #__next
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  margin: 0
  height: 100%
  background-color: rgba(11, 2, 8)

div
  height:100%