// fonts
@font-face
  font-family: 'FiraCode'
  font-style: normal
  font-weight: 400
  src: url('../fonts/FiraCode-Regular.ttf')
  font-display: swap

@font-face
  font-family: 'FiraCode'
  font-style: normal
  font-weight: 500
  src: url('../fonts/FiraCode-Medium.ttf')
  font-display: swap

@font-face
  font-family: 'FiraMono'
  font-style: normal
  font-weight: 400
  src: url('../fonts/FiraMono-Regular.ttf')
  font-display: swap

@font-face
  font-family: 'FiraMono'
  font-style: normal
  font-weight: 500
  src: url('../fonts/FiraMono-Medium.ttf')
  font-display: swap
  
@font-face
  font-family: 'FiraMono'
  font-style: normal
  font-weight: 600
  src: url('../fonts/FiraMono-Bold.ttf')
  font-display: swap

@font-face
  font-family: 'Orbitron'
  font-style: normal
  font-weight: 400
  src: url('../fonts/Orbitron-Regular.ttf')
  font-display: swap

@font-face
  font-family: 'Orbitron'
  font-style: normal
  font-weight: 500
  src: url('../fonts/Orbitron-Medium.ttf')
  font-display: swap

@font-face
  font-family: 'Orbitron'
  font-style: normal
  font-weight: 600
  src: url('../fonts/Orbitron-Bold.ttf')
  font-display: swap

@font-face
  font-family: 'Orbitron'
  font-style: normal
  font-weight: 700
  src: url('../fonts/Orbitron-Black.ttf')
  font-display: swap

@font-face
  font-family: 'Orbitron'
  font-style: normal
  font-weight: 800
  src: url('../fonts/Orbitron-ExtraBold.ttf')
  font-display: swap


@import "./terminal.module"

html, body, #__next
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  margin: 0
  height: 100%
  // background-color: $background-color
  background-color: rgba(0, 0, 0, 0)

@mixin background-tint($url, $color1, $color2, $opacity: 0.3)
    background-color: $color1 // fallback
    background-image: linear-gradient(to bottom,rgba($color1, $opacity),rgba($color2, $opacity)), url($url)

.bg-image
  @include background-tint($background-image, $background-color, $background-color, 0.3)
  height: 100%
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-size: cover
  background-position: center
  background-repeat: repeat
  filter: blur(15px)
  -webkit-filter: blur(15px)
  z-index: -1
  -webkit-transform: scale(1.1)

#__next > div
  height:100%

.fullHeight
  height: 100%

.display
  font-family: 'Orbitron', sans-serif
  font-size: 1.5rem
  font-weight: 400
  color: $primary-color
  margin: 0

.text-large
  font-size: 3rem
  font-weight: 400
  color: $primary-color

.text-medium
  font-size: 2rem
  font-weight: 400
  color: $primary-color

.text-small
  font-size: 1rem
  font-weight: 400
  color: $primary-color

.text-tiny
  font-size: 0.6rem
  font-weight: 400
  color: $primary-color

.text-secondary
  color: $secondary-color

.text-primary
  color: $primary-color

.row
  display: flex
  flex-direction: row
  margin: 0
  justify-content: space-between

.col
  display: flex
  flex-direction: column
  margin: 0
  padding: 10px

.spacer-outer
  border-left: 1px solid $secondary-color
  border-right: 1px solid $secondary-color

.spacer-inner
  background-color: $secondary-color
  height: 1px

.width-80
  width: 80px