.progressBarOuter
	width: 100%
	height: 0.5rem
	background-color: var(--secondary-color)
	position: relative
	margin: 10px 0

.progressBarInner
	width: 0%
	background-color: var(--primary-color)
	position: absolute
	height: 0.5rem
	transition: 1s ease-in