// defaults
$primary-color: #5bc018
$background-color: rgba(11, 2, 8)
$selection-color: rgba(255, 255, 255, 0.3)
$secondary-color: #125800
$background-image: ''
$background-blur: 0px
$background-image-blend: 0.5	
$intro-audio: '../assets/audio/keyboard.mp3'

@import './terminal/interstellar.module'

:export
	primaryColor: $primary-color
	secondaryColor: $secondary-color
	backgroundColor: $background-color
	selectionColor: $selection-color
	backgroundImage: $background-image
	backgroundBlur: $background-blur
	backgroundColorBlend: $background-color
	introAudio: $intro-audio