@import './terminal/matrix.module'

:export
	primaryColor: $primary-color
	background: $background-color
	foreground: $primary-color
	cursor: $primary-color
	cursorAccent: $primary-color
	selection: $selection-color